Repository oaubert/python-vlc: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format

lint:
  name: Check no linting errors
  entry: ruff check --config ruff.toml
  language: python
  minimum_pre_commit_version: 2.9.2

format:
  name: Check code is formatted
  entry: ruff format --config ruff.toml --check
  language: python
  minimum_pre_commit_version: 2.9.2

strip whitespaces utility function, with unit tests
  generator/generate.py
  tests/test_generator.py
Due: lint, format

better sphinx doc in templates
  generator/templates/footer.py
  generator/templates/header.py
  generator/templates/override.py
Due: format

don't need the toc
  docs/index.rst
Due: none

unit doxygen2sphinx and epydocs into docs_in_sphinx_format, and better sphinx doc generation (cross references, params in italic, note and warning blocks, etc.)
  generator/generate.py
  tests/test_generator.py
Due: lint, format

rename option genums
  generator/generate.py
Due: lint, format

rename generate_ctypes
  generator/generate.py
Due: lint, format

insert generated functions in the header so that header.py becomes the only place where we decide the order of generation
  generator/generate.py
  generator/templates/header.py
Due: lint, format

docstrings in sphinx format for generator, plus making some names smaller...
  generator/generate.py
  tests/test_generator.py
Due: lint, format

fix: was running insert_code two times, so writing build_date two times when format=True
  generator/generate.py
Due: lint, format

add wheel for package builds
  requirements.txt
Due: none

(almost) empty the blacklist and report deprecated functions as well
  generator/generate.py
Due: lint, format

snake to camel case utility
  generator/generate.py
  tests/test_generator.py
Due: lint, format

feat: generate decorators for function pointers as parameters (only case is libvlc_set_exit_handler)
  generator/generate.py
Due: lint, format

reintroducing EventUnion for backward compatibility
  generator/generate.py
Due: lint, format

test execution of dialog cbs (at least the error one)
  tests/test_bindings.py
Due: lint, format

test event callbacks bindings
  tests/samples/song.mp3
  tests/samples/video.mp4
  tests/test_bindings.py
Due: lint, format

test exit handler
  tests/test_bindings.py
Due: lint, format

convert Doxygen lists to Sphinx lists, and use spaces instead of tabs for generated docs
  generator/generate.py
Due: lint, format

generate docs for dev
  docs/conf.py
Due: none

latest generated dev/vlc.py
  generated/dev/vlc.py
Due: none

update generator's README given recent changes
  README.md
Due: none

update 'How to contribute' because no _blacklist anymore
  README.md
Due: none

better error messages
  dev_setup.py
Due: lint, format

don't make a venv when one already exists
  dev_setup.py
Due: lint, format

quotes in f-string doesn't work in all Python versions
  dev_setup.py
Due: lint, format

generator: add a find_libc library
  generator/templates/header.py
Due: format

test: logger: start the VLC instance in quiet mode
  tests/test.py
Due: lint, format

Instance: add the logger getter
  generator/templates/override.py
Due: format

Instance: add a set_logger method
  generator/templates/header.py
  generator/templates/override.py
Due: format

test: add a logger test
  tests/test.py
Due: lint, format

find_libc: raise an error on unsupported platforms
  generator/templates/header.py
Due: format

Rewrite of the bindings' generator using Tree-sitter (#275)
  .github/workflows/ruff.yml
  .github/workflows/tests.yml
  .gitignore
  .gitmodules
  .pre-commit-config.yaml
  AUTHORS
  Makefile
  README.md
  TODO
  dev_setup.py
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/make.bat
  generated/dev/vlc.py
  generator/generate.py
  generator/templates/footer.py
  generator/templates/header.py
  generator/templates/override.py
  generator/templates/setup.py
  requirements.txt
  ruff.toml
  tests/gctest.py
  tests/samples/song.mp3
  tests/samples/video.mp4
  tests/test.py
  tests/test_bindings.py
  tests/test_generator.py
  tests/test_parser_inputs/callbacks.h
  tests/test_parser_inputs/enums.h
  tests/test_parser_inputs/funcs.h
  tests/test_parser_inputs/libvlc_version_with_extra.h
  tests/test_parser_inputs/libvlc_version_without_extra.h
  tests/test_parser_inputs/structs.h
Due: lint, format

Remove automatic formatting
  .github/workflows/ruff.yml
Due: none

Remove python2 tests from Makefile
  Makefile
Due: none

Update documentation
  AUTHORS
  README.md
Due: none

Simplify requirements
  requirements.txt
Due: none

Instanciate logging
  generator/generate.py
Due: lint, format

Factorize documentation conversion to Sphinx
  generator/generate.py
Due: lint, format

Ignore unconverted callbacks (and warn about them)
  generator/generate.py
Due: lint, format

Activate all tests
  tests/test_bindings.py
Due: lint, format

Path conditions:
  lint: any of: (?x)^(
  generator/generate\.py|
  tests/.*\.py|
  dev_setup\.py
)$

  format: any of: (?x)^(
  generator/generate\.py|
  tests/.*\.py|
  dev_setup\.py|
  generator/templates/.*\.py
)$

