Repository oaubert/python-vlc: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format

lint:
  name: Check no linting errors
  entry: ruff check --config ruff.toml
  language: python
  minimum_pre_commit_version: 2.9.2

format:
  name: Check code is formatted
  entry: ruff format --config ruff.toml --check
  language: python
  minimum_pre_commit_version: 2.9.2

Adapt to changed libvlc_media_new_path API change in 4.0
  generator/templates/override.py
Due: format

Start to adapt tests to 4.0 API
  tests/test_bindings.py
Due: lint, format

Adapt to 4.0 API
  generator/generate.py
Due: lint, format

Remove python2 compatibility code
  Makefile
  generator/templates/header.py
  generator/templates/override.py
  tests/test_bindings.py
Due: lint, format

Fix import order
  tests/test_bindings.py
Due: lint, format

Convert dev_setup to bash
  dev_setup.py
  dev_setup.sh
Due: lint, format

Check linting errors on generated module
  .pre-commit-config.yaml
Due: none

Cleanup requirements.txt
  requirements.txt
Due: none

Use versioned module for automated tests
  Makefile
Due: none

Start to improve sphinx-based doc build
  Makefile
  README.md
  docs/conf.py
  docs/index.rst
Due: none

Display diff in pre-commit format rule
  .pre-commit-config.yaml
Due: none

Silence callback warning for known functions + formatting fixes
  generator/generate.py
Due: lint, format

Simplify formatting code
  generator/generate.py
Due: lint, format

Use the shell version of dev_setup
  .github/workflows/tests.yml
Due: none

Add info about pre-commit install
  dev_setup.sh
Due: none

Improve sphinx doc generation
  docs/_templates/autosummary/class.rst
  docs/_templates/autosummary/module.rst
  docs/_templates/class.rst
  docs/api.rst
Due: none

Update generated module
  generated/3.0/setup.py
  generated/3.0/vlc.py
Due: none

Fix github workflow
  .github/workflows/tests.yml
Due: none

Use pyproject.toml instead of setup.py in generated vlc package
  Makefile
  generator/generate.py
  generator/templates/pyproject.toml
  generator/templates/setup.py
  requirements.txt
Due: lint, format

Update generated 3.0 files
  generated/3.0/distribute_setup.py
  generated/3.0/pyproject.toml
  generated/3.0/setup.py
Due: none

Update pyproject links
  generated/3.0/pyproject.toml
  generator/templates/pyproject.toml
Due: none

Make a pyproject.toml file for the generator itself
  MANIFEST.in
  pyproject.toml
  setup.py
Due: none

Remove the make target "deb" as it used setup.py
  Makefile
Due: none

Update to pyproject.toml build system configuration (#284)
  MANIFEST.in
  Makefile
  generated/3.0/distribute_setup.py
  generated/3.0/pyproject.toml
  generated/3.0/setup.py
  generator/generate.py
  generator/templates/pyproject.toml
  generator/templates/setup.py
  pyproject.toml
  requirements.txt
  setup.py
Due: lint, format

Update README.module
  README.module
Due: none

Update doc generation to sphinx-autoapi
  docs/_templates/autosummary/class.rst
  docs/_templates/autosummary/module.rst
  docs/_templates/class.rst
  docs/api.rst
  docs/conf.py
  docs/fullapi.rst
  docs/index.rst
  requirements.txt
Due: none

Add RTD configuration
  .readthedocs.yaml
  docs/requirements.txt
Due: none

Add missing rtd theme to requirements
  docs/requirements.txt
  requirements.txt
Due: none

sphinx: Get version info from the module
  docs/conf.py
Due: none

Move referenced urls from http: to https:
  README.md
  generator/templates/footer.py
  generator/templates/header.py
Due: format

Add defined enum symbols in generated docstring
  generator/generate.py
Due: lint, format

Update README.module
  generated/3.0/README.module
Due: none

Generate python-vlc 3.0.21201
  generated/3.0/vlc.py
Due: none

Handle inline comments for enum values
  generated/3.0/vlc.py
  generator/generate.py
Due: lint, format

Add rtd badge
  README.md
Due: none

Add link to RTD site
  README.md
Due: none

Convert enum value comments from doxygen syntax to sphinx syntax
  docs/conf.py
  generated/3.0/vlc.py
  generator/generate.py
Due: lint, format

Update documentation link to RTD
  generator/templates/pyproject.toml
Due: none

Update documentation link to RTD
  generated/3.0/pyproject.toml
Due: none

Fix enum generation expression
  generator/generate.py
Due: lint, format

Path conditions:
  lint: any of: (?x)^(
  generator/generate\.py|
  tests/.*\.py|
  dev_setup\.py
)$

  format: any of: (?x)^(
  generator/generate\.py|
  tests/.*\.py|
  dev_setup\.py|
  generator/templates/.*\.py
)$

